*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(72deg, aqua 1%, violet 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}