*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-light-50: #f8fafc;
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;
    --color-gradient: linear-gradient(90deg, var(var(--color-purple-50), var(--color-purple-100), var(--color-purple-200)))
}
.container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(72deg, aqua 1%, violet 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_media img{
    width: 30px;
}
form{
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    font-size: 40px;
    position: relative;
}
.header h1::before{
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}
.icon-moon{
    cursor: pointer;
    font-size: 20px;
}
.social_media{
    display: flex;
    justify-content: space-around;
}
.social_media img:hover{
    transform: scale(1.2);
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input-box label{
    font-size: 14px;
    color: var(--color-dark-50);
}
.input{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}
.input i{
    font-size: 18px;
    color: var(--color-dark-900);
}
.input input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0 5px;
}
.input input:focus{
    outline: none;
}
.forgot-password a{
    text-decoration: none;
    font-size: 12px;
    color: var(--color-dark-500);
}
.forgot-password a:hover{
    color: var(--color-purple-50);
}
.login-btn{
    border: none;
    background-color: var(--color-purple-100);
    color: var(--color-light-50);
    padding: 7px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.login-btn:hover{
    transform: scale(1.05);
}