*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
body{
    background: linear-gradient(70deg, rgb(187, 89, 89) 1%, rgb(94, 23, 94) 99%);
}
.container{
    width: 100vw;
    height: 100vh;
}
.card{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color: gray;
    transform: translate(110%, 50%);
}
.description{
    display: flex;
    justify-content: center;padding: 20px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px;
    
}
input{
    padding: 10px;
    border: none;
    border-radius: 10px 0 10px 0;
    margin-bottom: 10px;
}
button{
    width: 50%;
    padding: 10px;
    transform: translate(-50%);
    background-color: rgba(127, 255, 212, 0.24);
    border: none;
    margin: auto;
}

