
.card{
    border: 1px solid gray;
    width: 45%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
    overflow: hidden;
}
.card:hover{
    background-color: rgba(0, 0, 0, 0.133);
}
.text{
    overflow: hidden;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text h4{
    font-size: 13px;
    margin: 0;
}
.text p{
    margin: 0;
    text-align: justify;
}
.text span{
    text-align: start;
}
.img{
    width: 300px;
    height: auto;
}
.img img{
    width: 100%;
    height: 100%;
}
@media(max-width: 700px){
    .card{
        height: 130px;
        margin: 10px auto;
        width: 100%;
    }
    .text{
        height: auto;
    }
}