
.header{
    width: 60%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}
.header:hover{
    background-color: rgba(0, 0, 0, 0.142);
}
.header a{
    color: rgb(255, 131, 197);
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 158, 210);
    width: 10%;
    text-align: center;
}
.menu{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
}
.menu{
    margin-top: 30px;
}
.menu h3{
    width: 27%;
    text-align: start;
    border-right: 1px solid black;
}
.menu ul{
    display: flex;
    
}
.menu ul a{
    width: 30%;
    text-decoration: none;
    margin-left: 50px;
}
.menu ul li{
    width: 79%;
    text-align: center;
    color: black;
}
.menu ul li:hover{
    border-bottom: 1px solid rgb(255, 158, 210);
    color: rgb(255, 158, 210);
}

@media(max-width:700px){
    .header{
        width: 100%;
    }
    .menu{
        margin-top: 10px;
    }
    .menu h3{
        font-size: 15px;
        width: 50%;
        margin: auto;
        text-align: center;
    }
    .menu ul{
        text-align: center;
    }
    .menu ul a{
        width: 100%;
    }
}