.btn{
    background-color: rgb(255, 218, 238);   
    color: #222;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    text-align: center;
    font-size: 14px
}
.btn a{
    margin: none;
    color: #222;
}
.btn:hover{
    background-color: #222;
    color: #fff;
}
.btn a:hover{
    background-color: #222;
    color: #fff;
}