
.section{
    color: black;
    margin: auto;
    background-color: rgba(247, 235, 237, 1);
    width: 90%;
    height: auto;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.container h1{
    font-size: 40px;

    margin-top: 20px;
    margin: auto;
}
.container p{
    margin: 10px auto;
}
.infoPedidos{
    color: black;
    margin: auto;
    text-align: center;
}
.infoPedidos h4{
    margin: 0 auto;
}
.infoPedidos p{
    color: gray;
    margin: 5px auto;

}
.pedidos{
    color: black;
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pedidos span{
    color: gray;
}
.box_info{
    margin: 20px auto;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-between;
}
.imgConfeiteiro{
    width: 45%;
    height: auto;
}
.imgConfeiteiro img{
    width: auto;
    height: 100%;
}
.box_p{
    width: 40%;
    background-color: white;
    padding: 20px;
    text-align: justify;
    overflow:auto;

}
.box_p p{
    text-align: justify;
}
.pedidos h3{
    margin-bottom: 20px;
}
.pedidosCreate{
    display: flex;
    flex-direction: column;
}
.box_contato{
    width: 80%;
    margin: auto;
    text-align: justify;
}
.box_contato h1{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
.box_contato p{
    margin: 20px auto;
}
@media(max-width:700px){
    .container{
        width: 90%;
    }
    .pedidos{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .box_p{
        overflow: hidden;
    }
    .box_contato{
        width: 100%;
        text-align: justify;
    }
    .pedidosCreate{
        width: 100%;
    }
    .box_info{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .imgConfeiteiro{
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }
    .imgConfeiteiro img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .box_p{
        width: 100%;
    }
}
