.btn{
    background-color: rgb(255, 218, 238);
    color: #222;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: #222;
    color: #fff;
}